@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




    /* Site Themes */

  :root {
    --hue-1: 257 ;
    --hue-2: 47 ;
 
    --main-color-1 : hsl(var(--hue-1) , 100% , 60%) ;
    --main-color-dark-1 : hsl(var(--hue-1) , 69% , 50%) ;
    --main-color-2 : hsl(var(--hue-2) , 100% , 61%) ;
    --main-color-dark-2 : hsl(var(--hue-2) , 82% , 55%) ;
    --section-padding : 10rem 0 ;
  }

  body {
    --bg-color-1 : hsl( var(--hue-1) ,100% ,97% ) ;
    --bg-color-2 : #f6f6f6 ;
    --bg-color-3 : hsl( var(--hue-1) ,100% ,98% ) ;
    --bg-color-transparent : rgba(255 , 255, 255, 0.6) ;
    --heading-color : hsl( var(--hue-1) ,61% ,24% ) ;
    --text-color : hsl( var(--hue-1) ,17% ,53% ) ;
    --bg-color : hsl(var(--hue-1) , 100% , 97%) ;
  }

  body.dark {
    --bg-color : hsl(var(--hue-1) , 19% , 15%) ;
    --bg-color-1 : hsl( var(--hue-1) ,21% ,11% ) ;
    --bg-color-2 : hsl( var(--hue-1) ,23% ,19% ) ;
    --bg-color-3 : hsl( var(--hue-1) ,23% ,24% ) ;
    --bg-color-transparent : hsla( var(--hue-1) ,23% ,19%, 0.6 ) ;
    --heading-color : hsl( var(--hue-1) ,100% ,94% ) ;
    --text-color : hsl( var(--hue-1) ,14% ,51% ) ;
  }


  body.dark .st1 {
    fill: hsl(var(--hue-1), 18% , 29%);
  }

  body.dark .toggle-btn {
    background-color: var(--bg-color-3);
  }

  body.dark .toggle-btn:hover {
    background-color: brightness(110%);
  }


  body.dark   .nav-link:hover::after, body.dark .nav-link.active::after {
    width: 100%;
    opacity: 0.6;

  }

  body.dark .form-input:hover {
    filter: brightness(110%);
  }






      /* general styles  */























      * , *::before , *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }


      body {
        overflow-x: hidden;
        background-color: var(--bg-color) ;
        font-family: 'Poppins', sans-serif;
        transition: 0.6s background-color;
      }


      ::selection {
        background-color: hsl(var(--hue-1) , 100% , 60%) ;
        color: #fff;
      }



      a {
        text-decoration: none;

      }


      ul {
        list-style: none;
      }











      /* reusable style code */









      .container {
        position: relative;
        width: 100%;
        max-width: 75rem;
        padding: 0 1.5rem;
        margin: 0 auto;
      }



      .logo {
        margin-right: 1.5rem;
        height: 120px;
        line-height: 120px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--heading-color);
        letter-spacing: 1px; 
      }
    


      .logo span {
    color: var(--main-color-1);
   }

   .sub-heading {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem .73rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.6s color;
  }

  .heading {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 400;
    font-family: "Poetsen One", sans-serif;
    line-height: 1.3;
    transition: 0.6s color;
  }


  .text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    transition: 0.6s color;
  }


















      /* navbar styling */



















      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: 0.3s;
     
      }


      header.scrolled {
        background-color: var(--bg-color-transparent);
        box-shadow: 0 5px 20px 0.1px rgba( 0 ,0 ,0 ,0.3);
      }


      nav.container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }



    header.logo {
    height: 120px;
    line-height: 120px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--heading-color);
    transition: 0.3s;
  
   }


   header.scrolled .logo {
    line-height: 80px;
    height: 80px;
   }


   a.logo {
    font-size: 1.7rem;
    transition: 0.3s ease-in-out;
   }

   header.scrolled a.logo{
    font-size: 1.4rem;
   }



   header.logo span {
    color: var(--main-color-1);
   }


      .links {
       
        flex: 1;
        display: flex;
        justify-content: space-between;

      }
      .ham {
        display: none;
      }


      .links ul {
         display: flex;
        
         align-items: center;
         width: 100%;
         margin-bottom: 0;
      }


      .nav-link {
        position: relative;
        display: inline-block;
        margin: 0 1rem !important;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        color: var(--text-color);
        font-weight: 500;
        opacity: 0.9 !important;
        transition: 0.3s;
      }


     .nav-link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background-color: var(--main-color-1);
        bottom: 0;
        left: -5px;
        z-index: -1;
        transition: 0.3s;
        opacity: 0;
     }


      .nav-link:hover , .nav-link.active {
        color: var(--heading-color);

      }


      .nav-link:hover::after, .nav-link.active::after {
        width: 100%;
        opacity: 0.2;

      }


      .toggle-btn {
        color: var(--heading-color);
        min-width: 40px;
        height: 40px;
        background-color: var(--bg-color-2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
      }


      .toggle-btn:hover {
        filter: brightness(60%);
      }

      .ham {
       
        padding: 1rem 0;
        height: 12px;
        width: 25px;
        box-sizing: content-box;
        position: relative;
      }

      .ham .bar {
        width: 100%;
        height: 2px;
        background-color: var(--heading-color);
        border-radius: 3px;
        position: absolute;
      }

      .ham .bar:first-child {
        top: 1rem;
      }

      .ham .bar:last-child {
        bottom: 1rem;
      }  

      body.open .ham .bar:first-child {
        transform: translateY(-50%) rotate(-45deg) ;
        top: 50%;
        transition: 0.2s;
      }

      body.open .ham .bar:last-child {
        transform: translateY(50%) rotate(45deg) ;
        bottom: 50%;
        transition: 0.2s;
      }




















      /* .showcase-area */




















      .showcase-area {
        padding: 120px 0 ;
        width: 100%;
        overflow: hidden;

      }



      .showcase-area .container {
        display: grid;
        grid-template-columns: repeat( 2 , 1fr);
        height: calc(100vh - 120px);
        max-height: 600px;
         align-items: center;

      }


      .sub-heading {
        color: var(--heading-color);
        text-transform: uppercase;
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        border-left: 3px solid var(--main-color-2);
        padding: 0.13rem .73rem;
        margin-bottom: 1rem;
        font-weight: 500;
      }

      .heading {
        color: var(--heading-color);
        font-size: 3rem;
        font-weight: 400;
        font-family: "Poetsen One", sans-serif;
        line-height: 1.3;
      }


      .text {
        color: var(--text-color);
        font-size: 0.9rem;
        margin: 2rem 0;
      }

     .showcase-area .sub-heading {
      margin-bottom: 0.7rem;
     }

     .showcase-area .heading {
      font-size: 3.5rem;
     }

     .showcase-area .text {
      margin: 0.8rem 0;
     }


     .cta {
      margin-top: 3.5rem;
      display: flex;
      align-items: center;
     }

     .cta .btn {
      margin-right: 1.5rem;
     }

     .btn {
      display: inline-block;
      padding: 0.9rem 1.75rem;
      border-radius: 17px;
      background-color: var(--main-color-1) ;
      color: #f6f6f6;
      font-size: 0.85rem;
      letter-spacing: 0.4px;
      text-transform: capitalize;
      transition: 0.3s;
      min-width: 125px;
      text-align: center;
     }



     .btn:hover {
      background-color: var(--main-color-dark-1);
      color: #fff;
     }


     .btn.s-btn {
      position: relative;
      background-color: transparent;
      color: var(--main-color-1);
      font-weight: 500;
      font-size: 0.9rem;
      letter-spacing: 0px;
      border-bottom: 2.5px solid var(--main-color-2);
      border-radius: 0px;
      padding: 0.15rem 0;
      transition: 0.3s;
      min-width: revert;
     }

     .btn.s-btn::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 2.5px;
      bottom: -2.5px;
      left: 0;
      background-color: var(--main-color-1);
      transition: 0.3s ease-in-out;

     }

     .btn.s-btn:hover:before {
      width: 100%;
     }


     .square {
      width: 80px;
     }

     .showcase-info .square {
      position: absolute;
      left: 17%;
      bottom: -2px;
      transform: translate(-50% -50%);
     }




     .showcase-image {
      position: relative;
      width: 100%;
      min-height: calc(100% + 120px);
      
     }



     .showcase-image .person {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 30%;
      transform: translateX(-50px);
      border-radius: 0 0 80px 80px;
     }
 

     .dots {
      width: 112px;
     }

     .showcase-area .dots {
      position: absolute;
      left: 121.5%;
      top: 30%;
      transform: translate(-50% , -50%);
     }


     .showcase-area .circle {
      position: absolute;
      width: 190px;
      left: 22%;
      top: 80%;
      transform: translate(-50% , -50%);
      z-index: -1;
     }
 



















     /* about designing  */






















     .section {
      position: relative;
      padding: var(--section-padding);
     }



     .about .container {
      display: grid;
      grid-template-columns: 1.05fr 1fr;
      align-items: center;
     }

     .about .text {
      margin: 3rem 0 4rem;
     }


     .about-grid {
      display: grid;
      grid-template-columns: 220px 220px;
      grid-template-rows: 220px 220px;
      justify-content: center;
      column-gap: 2.5rem;
      row-gap: 100px;
      margin-right: 2rem;
      position: relative;
     }

     .about-card:nth-child(2) {
         margin-top: 50px;
       }

       .about-card:nth-child(3) {
        margin-top: -50px;
      }


      .about-card:nth-child(1) {
        border-radius: 40px 40px 5px 40px;
      }

      .about-card:nth-child(2) {
        border-radius: 40px 40px 40px 5px;
      }

      .about-card:nth-child(3) {
        border-radius: 40px 5px 40px 40px;
      }

      .about-card:nth-child(4) {
        border-radius: 5px 40px 40px 40px;
      }
    


     .about-card {
      background-color: var(--bg-color-2);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.5s transform;
     }

     .icon {
      width: 70px;
     }

     .st0 {
      fill: var(--bg-color-3);
     }

     .st1 {
      fill: #c5e3ea;
     }

     .st2 {
      fill: var(--heading-color);
      transition: 0.3s;
     }

     .about-card h3 {
      color: var(--heading-color);
      font-weight: 600;
      font-size: 1.2rem;
      margin-top: 1rem;
      letter-spacing: .3px;
     }


     .about-card:hover {
      transform: scale(1.1);

     }


     .about-card:hover .st2 {
      fill: var(--main-color-1);
     }

     .about-grid::before {
      content: "";
      position: absolute;
      width: 210px;
      height: 210px;
      top: 30%;
      left: 30%;
      transform: translate3d(-50% -50%);
      border: 15px solid var(--main-color-1);
      z-index: -1;
      opacity: 0.12;

     }

     .triangle {
      width: 95px;
      opacity: 0.22;
     }

     .about .triangle {
      position: absolute;
      left: 90%;
      top: 27%;
      transform: translate(-50% -50%);
     }





















     /* skills section styling  */























     .skills { 
      overflow: hidden;

     }



     .skills-box {
      background-color: var(--bg-color-2);
      padding: 5rem 6rem ;
      border-radius: 20px ;
      width: 100%;
      position: relative;
     }


     .box-desc {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      column-gap: 2rem;
     }


     .skills-wrap {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      margin-top: 2rem;
      justify-content: space-between;

     }

     .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }

     .sk-progress {
      width: 150px;
      height: 150px;
      position: relative;
      
     }




     @keyframes progress {
      to {
        stroke-dashoffset: var(--target);
      }
     }

     @keyframes cypress {
      to {
        stroke-dashoffset: var(--target);
      }
     }
   

     .sk-progress svg {
      transform: rotate(-90deg);
      position: absolute;
      width: 100%;
      height: 100%;
     }

     .sk-progress svg circle {
        fill: var(--bg-color-3);
        stroke-width: 5px;
        stroke: var(--main-color-1);
        stroke-dasharray: 427;
        stroke-dashoffset: 426;
        stroke-linecap: round;
     }


     .counter {
      position: absolute;
      top: 32%;
      left: 32%;
      transform: translate(-50% -50%);
      margin-bottom: 0;
      z-index: 1;
      color: var(--heading-color);
      font-weight: 400;
      font-size: 0.9rem;
     }

     .counter span {
      font-size: 2.45rem;
     }


     .sk-title {
      color: var(--heading-color);
      margin-top: 0.75rem;
      font-weight: 400;
      font-size: 1rem;

     }


     .skills .dots {
      position: absolute;
      left: 0%;
      top: 0%;
      transform: translate(-50% , -50%);
      z-index: -1;
     }


     .skills .square {
      position: absolute;
      left: 100%;
      top: 75%;
      transform: translate(-50% , -50%);
      z-index: 1;
     }















     

           /* services section styling  */














           .services .container {
            display: grid;
            grid-template-columns: 1fr 1.3fr;
            column-gap: 6rem;
            align-items: center;
           }


           .milestones {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            align-items: center !important;
           }

           .milestones h2 {
            color: var(--main-color-1);
            font-size: 1.3rem;

           }


           .milestones h2 span {
            font-size: 2rem;
            line-height: 1.2;
            margin-right: 0.1rem;
           }

           .milestones h5{
             color: var(--heading-color);
             line-height: 0.9 ;
             font-weight: 500;
             font-size: 0.95rem;

           }





           .services-grid {
            display: grid;
            position: relative;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
            row-gap: 4.4rem;
           }


           .srv-card {
            background-color: var(--bg-color-2);
            border-radius: 15px;
            padding: 2.5rem 2.1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            min-height: 280px;
           }


           .srv-card .text {
            margin: .7rem 0;
            font-size: 0.7rem;

           }

           .srv-card h3 {
            color: var(--heading-color);
            font-weight: 500;
            font-size: 1.05rem;
            letter-spacing: .3px;
           }


           .srv-card:nth-child(2) {
            transform: translateY(2.2rem);
           }

           .srv-card:nth-child(3) {
            transform: translateY(-2.2rem);
           }










           .services-grid::before {
            content: "";
            position: absolute;
            width: 210px;
            height: 210px;
            top: 40%;
            left: 32%;
            transform: translate3d(-50% -50%);
            border: 15px solid var(--main-color-1);
            z-index: -1;
            opacity: 0.12;
      
           }


           .services .triangle {
            position: absolute;
            left: 30%;
            top: 100%;
            transform: translate(-50% -50%);
           }


           .services .square {
            position: absolute;
            left: -35px;
            top: 75%;
            transform: translate(-50% -50%);
            z-index: -1;
           }
        



















/* 
           portfolio section styling  */
















           .portfolio-header {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 4rem;
           }


           .portfolio-titles {
            padding-bottom: 1rem;
           }

           .filter-btn {
            display: inline-block;
            color: var(--heading-color);
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 0.85rem;
            font-weight: 600;
            letter-spacing: 0.4px;
            margin-left: 1.3rem;
            font-family: inherit;
            text-transform: uppercase;
            transition: 0.3s;
           }

           .filter-btn.mixitup-control-active {
            color: var(--main-color-1);
           }

           .prt-img img {
            width: 100%;
           }


           .portfolio-gallery {
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(300px, 1fr)  );
            column-gap: 2rem;
            row-gap: 2rem;
           }



           .prt-card {
            border-radius: 15px;
            overflow: hidden;
            background-color: var(--bg-color-2);
            height: 265px;
            display: grid;
            grid-template-rows: 1fr auto ;
           }


           .prt-img {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
           }

           .prt-desc {
            padding: 1.5rem  1.5rem;
            padding-top: 0.7rem;
            display: flex;
      
            justify-content: space-between;
           }


           .prt-desc h3 {
            color: var(--heading-color);
            font-weight: 500;
            font-size: 0.95rem;
            letter-spacing: .3px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
           }
           

           .btn.s-btn.sm {
            padding: 0.7rem 0.1rem;
            font-size: 0.78rem;
            border-bottom-width: 2px;
           }


           .btn.s-btn.sm::before {
            height: 2px;
            bottom: -2px;

           }
           a.btn.s-btn.sm {
            padding: 0.2rem !important;
           }


           .prt-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:transparent;
            transition: 0.5s;
            backdrop-filter: blur(0px);
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            opacity: 0;


           }

           .prt-icon {
            color: hsl( var(--hue-1) ,61% ,24% );
            font-size: 1.1rem;
            margin: 0 0.4rem;
            background-color: var(--main-color-2);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            cursor: pointer;
            transform: translateY(15px);
            
           }


           .prt-img:hover .prt-overlay {

            background-color: var(--bg-color-transparent);
            backdrop-filter: blur(10px);
            pointer-events: auto;
            opacity: 0.9;


           }


           .prt-img:hover .prt-icon {
            opacity: 1 !important;
            transform: translateY(0px);
           }

           .prt-icon:hover {
            background-color: var(--main-color-dark-2);

           }


           .modak {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            z-index: 11;
            pointer-events: none;
           }

           .slider-wrap img {
            width: 90%;
            max-width: 900px;
           }

           .modak-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: 0.3s;
           }

           .slider-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 400px ));
            width: 90%;
            max-width: 900px;
            display: grid;
            grid-template-columns: 50px 1fr 50px;
            align-items: center;
            justify-content: center;
            opacity: 0;
           }

           .slider-wrap img {
            width: 100%;
            display: none;
            border-radius: 10px;
           }

           .navigation {
            font-size: 2rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        
            color: white;
           }

           .slider-wrap img.showImage {
            display: block;
           }



           .portfolio.open .modak {
            pointer-events: auto;

           }

           .portfolio.open .modal-overlay {
            opacity: 1;
           }































           /* contact section styling */























           .contact .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;
           }

           .mail {
            color: var(--main-color-1);
            font-weight: 500;
            font-size: 1.1rem;
            transition: 0.3s ;
           }

           .mail i {
            display: inline-block;
            font-size: 1.5rem;
            margin-left: 2px;
            transform: translateY(3px);
            transition: 0.3s margin-left;
           }


           .mail:hover {
            color: var(--heading-color);
            transform: translateY(0);
           }

           .mail:hover i {
            margin-left: 10px;
           }

           .contact-form {
            background: var(--bg-color-2);
            border-radius: 20px;
            padding: 3.5rem 3rem;
            flex-direction: column;
           }

           .contact-form h3 {
            color: var(--heading-color);
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 1.6rem;
            line-height: 0.9;
           }

           .form-input {
            position: relative;
            display: inline-block;
            padding: 0.9rem 1.5rem;
            border: 2px solid var(--bg-color-3);
            border-radius: 17px;
            width: 100%;
           }

           .contact-form .form-input {
            margin-bottom: 1.5rem;
           }































           .subscription {
            overflow: hidden;
           }

           .sub-box {
            padding: 5rem;
            width: 100%;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            column-gap: 6rem;
            background: var(--bg-color-2);
           
            flex-direction: column;
           }


           .sub-box .heading {
            color: var(--heading-color);
            font-weight: 600;
            font-size: 2rem;
            margin-top: 2rem;
       
           }

           .sub-box form {
         
            display: flex;
            flex-direction: row ;
            align-items: center;
            justify-content: center;

            
           }

           .sub-box form input {
            margin-right: 10px !important;
           }



































           footer {
            padding: 4rem 0;

           }

           footer .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
           }


           footer .socials {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
           }

           .social-link {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin-left: 1rem;
            background-color: var(--bg-color-1);
            transition: 0.3s ;
            color: var(--text-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
           }

           .social-link:hover {
            color: var(--main-color-1);
           }

           html {
            scroll-behavior: smooth;
           }

           .nav-link:hover, .nav-link.acitve {
            color: var(--heading-color);
           }

























           /* 1000px screen  */
















           @media (max-width: 1000px) {
            .sub-heading {
              font-size: .75rem;
            }
            .heading {
              font-size: 2rem;
            }
            .showcase-area .heading {
              font-size: 2rem;
            }
            .text {
              font-size: .85rem;
              margin: 1.3rem 0;
            }
            .btn {
              padding: 0.8rem 1.6rem;
              font-size: 0.8rem;
              min-width: 100px;
              border-radius: 15px;
            }
            .btn.s-btn {
              font-size: 0.8rem;
            }
            .form-input {
              padding: 0.8rem 1.46rem;
              border-radius: 15px;
              font-size: 0.8rem;
            }
            .logo {
              font-size: 1.45rem;
            }
            header .logo {
              height: 100px;
              line-height: 100px;
            }
            .nav-link {
              font-size: 0.7rem;
            }
            .showcase-area {
              padding: 100px 0;
            }
            .showcase-area .container {
              grid-template-columns: 1fr 400px;
              height: 450px;
            }
            .skills-box {
              padding: 4rem;
            }

            .sk-progress {
              transform: scale(0.85);
            }

            .services .container {
              column-gap: 2.5rem;
            }

            .contact .container {
              column-gap: 2.5rem;
            }

            .contact-form {
              padding: 2.5rem 2rem;
            }

            .contact-form h3 {
              font-size: 1.2rem;
              margin-bottom: 1rem;
            }

            .contact .form-input {
              margin-bottom: 0.8rem;
            }

            .sub-box {
              padding: 3.5rem 2.5rem;
              column-gap: 2rem;
            }

            .filter-btn {
              font-size: 0.7rem;
            }
           }











           @media (max-width:768px) {
            :root {
              --section-padding : 4.5rem ;
            }

            .triangle {
              width: 70px;
            }

            .dots {
              width: 65px;
            }

            .square {
              width: 65px;
            }

            .ham {
              display: block;
             
            }

            .links {
              order: 3;
              flex-basis: 100% ; /*width: 100% */
              flex-direction: column;
              align-items: center !important;
              justify-content: center !important;
              padding: .5rem 0 2rem;
              text-align: left !important;
            }

            .links ul {
              flex-direction: column;
            }
           
            .nav-link {
              margin: 1.5rem 0 !important;
              color: var(--heading-color);
              font-weight: 500;
            }

         

            .links ul::after {
              content: '';
              display: block;
              width: 0%;
              height: 1px;
              background-color: var(--bg-color-3);
              margin: 1rem 0;
              opacity: 0;
            }

            header nav {
              justify-content: space-between;
            }

            .overlay {
              height: 100vh;
              width: 100vw;
              top: 0;
              left: 0;
              position: fixed;
              background-color: rgba(0, 0, 0, 0.7);
              z-index: 6;
              opacity: 0;
              transition: 0.5s;
              pointer-events: none;
            }

            header {
              height: 536px;
              max-height: 100px;
              overflow: hidden;
            }

            header.scrolled {
              height: 510px;
              max-height: 80px;
            
            }

            body.open header {
              max-height: 536px;
              background-color: var(--bg-color-2);
            
            }

            body.open .overlay {
              opacity: 1;
              pointer-events: auto;
            }

            .showcase-area .container {
              height: revert;
              grid-template-columns: 1fr ;
              justify-content: center;
              row-gap: 4rem;
            }
            
            .showcase-image {
              min-height: revert;
              height: 100vh !important;
              max-height: 710px !important;
              max-width: 450px !important;
              margin-top: 0px;
              border-radius: 400px !important;
              justify-content: center;
              align-items: center;
              text-align: center;
            }

            .showcase-info {
              justify-content: center;
              align-items: center;
              text-align: center;
            }

            .cta {
              justify-content: center;
              align-items: center;
              text-align: center;
            }


            .about .container {
              grid-template-columns: 1fr ;
              row-gap: 3rem;
            }

            .about-grid {
              order: 3;
              grid-template-columns: 150px 150px;
              grid-template-rows: 150px 150px;
              margin: 2.5rem 0 0 0;
              column-gap: 2rem;
              row-gap: 80px;
            }

            .icon {
              width: 50px;
            }

            .about-card {
              font-size: .8rem;
              margin-top: 0.5rem;
            }

            .about-grid::before {
              width: 150px;
              height: 150px;
              border-width: 10px;
            }

            .box-desc {
              grid-template-columns: 1fr;
              justify-content: flex-start;
            }

            .skills-wrap {
              display: grid;
             grid-template-columns: repeat(2, 150px);
             
            }

            .sk-title {
              margin-top: 0px;
            }

            .services .container {
              grid-template-columns: 1fr ;
              row-gap: 3rem;
              justify-content: center;
            }

            .services-grid {
              margin-top: 3.5rem ;
              column-gap: 1.5rem;
              row-gap: 3.5rem;
              max-width: 660px;
            }

            .srv-card {
              padding: 1.8rem 1.7rem;
              min-height: 260px;
            }

            .srv-card h3 {
              font-size: 0.9rem;
            }

            .portfolio-titles {
              padding-bottom: 0;
            }


            .portfolio-gallery {
              grid-template-columns: repeat( 2,  );
            }

            .portfolio-header {
              display: flex;
              flex-direction: column !important;
              align-items: center;
              justify-content: center;
              text-align: center;
            }

            .contact .container {
              grid-template-columns: 1fr;
              column-gap: 1rem;
              row-gap: 3rem;
            }

            .sub-box {
              grid-template-columns: 1fr;
              row-gap: 2rem;
            }


          
           }

